.business-highlight {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #fff;
  padding:80px 50px;
}

.highlight-image img {
  max-width: 100%;
  height: auto;
  width: 500px;
  border-radius: 4px;
}

.highlight-text {
  max-width: 600px;
  margin-left: 40px;
}

.highlight-subheading {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #3a3a3a;
  font-weight: 500;
  margin-bottom: 20px;
}

.highlight-heading {
  font-size: 22px;
  line-height: 1.6;
  color: #1a1a1a;
  margin-bottom: 30px;
  font-weight: 400;
}
.highlight-button {
  padding: 14px 24px;
  border: 1px solid #999;
  border-radius: 40px;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.arrow-icon {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.highlight-button:hover {
  background-color: black;
  color: #fff;
}

.highlight-button:hover .arrow-icon {
  transform: translateX(5px); /* moves arrow to the right */
}
